<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header id="logoHeader">
    <div class="logoDiv">
        <img src="assets/logo.png" alt="logo">
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="../index.html" id="navSelectedText">Accueil</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Inscription</a></li>
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Avis</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="search.php">Entreprises</a></li>
    </nav>
</header>

<main>
    <div class="logoDiv">
        <h1 class="mainH1">Nous avons rencontré une erreur</h1>
    </div>
    <h2 class="sousTitre">
        Un problème a eu lieu lors de l'envoi du formulaire, veuillez verifier que tous les champs et fichiers sont valides.
    </h2>
</main>

<footer class="footerStyle">
    <h3>2024 - Tous droits réservés</h3></footer>
</body>
</html>
