<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Success</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<header id="logoHeader">
  <div class="logoDiv">
    <img src="assets/logo.png" alt="logo">
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="../index.html" id="navSelectedText">Accueil</a></li>
      <li><a href="#">A propos</a></li>
      <li><a href="#">Inscription</a></li>
      <li><a href="#">Connexion</a></li>
      <li><a href="#">Avis</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="search.php">Entreprises</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="logoDiv">
    <h1 class="mainH1">Fichier téléversé avec succès</h1>
  </div>
  <h2 class="sousTitre">
    Merci pour votre candidature. Nous examinerons votre demande et reviendrons vers vous sous peu.
  </h2>
</main>

<footer class="footerStyle">
  <h3>2024 - Tous droits réservés</h3>
</footer>
</body>
</html>
