<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.A.I.J - {{ page_title|default(current_page) }}</title>
    <link rel="stylesheet" href="{{ asset('style-web.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="{{ current_page }}">
{% include 'partials/_header.html.twig' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'partials/_footer.html.twig' %}
</body>
</html>